.main_content {
  background-color: #fff;
}

.gamearea {
  position: relative;
}

@media (min-width: 768px) {
  .button-box {
    position: absolute;
    top : 10px;
    right: 10px;
  }
}

.game-button {
  width: 200px;
  padding: 10px 0;
}

.speaker-icon {
  float: left;
  margin: -10px 10px;
}

.blackboard {
  display: none; /* Show after image is loaded */
  width: 220px;
  font-size: 17px;
  font-weight: bold;
  color: #FFF;
  background-color: #005387;
  border: 2px solid #FFF;
  border-radius: 5px;
  padding: 10px 0;
  text-align: center;
  float: left;
}

.blackboard a{
  color: inherit;
}

.blackboard p{
  margin: 0;
  padding: 0;
}

#india {
  border: none;
  height: auto;
  max-width: 100%;
  width: auto;
}

map area {
  cursor: pointer;
}

#hovercanvas{
  pointer-events: none;       
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
}

@media (min-width: 768px) {
  #hovercanvas{
    font-size: 20px;
  } 
}

#result {
  padding: 10px;
  background-color: #c7dcda;
  position: absolute;
  top: 5%;
  width: 20%;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid silver;
}